sudo ln -s /usr/local/mysql/bin/* /usr/bin
sudo ln -s /usr/local/mysql/lib/libmysqlclient.18.dylib /usr/lib/libmysqlclient.18.dylib
sudo ln -s /usr/local/mysql/lib /usr/local/mysql/lib/mysql	

pip install Scrapy
pip install beautifulsoup4
pip install BloomFilter
pip install redis
pip install requests
pip install scrapyd
pip install scrapyd-client
pip install scrapy-redis
pip install scrapy-mongodb
pip install MySQL-python
pip install Pillow
pip install shellpy
pip install virtualenv
pip install virtualenvwrapper
pip install jsonpipe
pip install selenium

pip freeze 

brew install libtiff libjpeg webp little-cms2
