## core
pip install Scrapy
pip install redis
pip install scrapy-redis
pip install requests
pip install beautifulsoup4
pip install scrapyd
pip install scrapylib
pip install scrapyd-client

## other
pip install BloomFilter
pip install Pillow
pip install shellpy
pip install virtualenv
pip install virtualenvwrapper
pip install jsonpipe
pip install selenium



apt-get install jq
brew install libtiff libjpeg webp little-cms2

pip freeze