beautifulsoup4==4.4.1
Scrapy==1.0.5
BloomFilter==0.1.0
lxml==3.6.0
scrapy-redis==0.6.0
scrapyd==1.1.0
scrapyd-client==1.0.1
scrapyd==1.1.0
scrapyd-client==1.0.1
redis==2.10.5
BloomFilter==0.1.0
requests==2.9.1
Twisted==16.0.0
scrapylib==1.7.0
pyOpenSSL==16.0.0
cssselect==0.9.1
w3lib==1.13.0
queuelib==1.4.2
service-identity==16.0.0
PyMySQL==0.7.2